.header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(1px);
    z-index: 3;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}