.hero {
    padding-block-start: 16px;
}
.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font: var(--headline3);
    margin: 0;
}
.hero h1 span:nth-of-type(1) {
    font: var(--headline5);
    display: block;
}
.hero__descrip {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero__social {
    padding-block-end: 24px;
}
.fondo {
    width: 328px;
    height: 330px;
    background: var(--purple-soft);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.fondo img {
    z-index: 1;
}
.rectangle__white {
    background: var(--white);
    width: 100%;
    height: 58px;
    position: absolute;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;
    }
    .hero__descrip {
        order: 1;
        max-inline-size: 450px;
    }
    .hero__img {
        order: 2;
        flex: 1;
        justify-content: flex-end;
    }

@media screen and (min-width: 1024px) {
    .fondo {
        width: 500px;
        height: 504px;
    }
    .fondo img {
        width: 374px;
        height: 490px;
    }
    .rectangle__white {
        height: 88px;
    }
}
}