.projects {
    padding-block-start: 40px;
    padding-block-end: 40px;
}
.project__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.project__img img {
    max-inline-size: 100%;
}
.project__description a {
    max-inline-size: 100%;
}
.project__a {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media screen and (min-width: 768px) {
    .projects {
        display: flex;
        align-items: center;
        padding-block-start: 100px;
        padding-block-end: 100px;
        gap: 32px;
    }
    .project__img {
        flex: 1;
        text-align: center;
    }
    .projects:nth-of-type(5) .project__img {
        order: 2; 
    }
    .project__description {
        flex: 1;
    }
    .project__a {
        display: flex;
        flex-direction: row;
    }
}